* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #1e1e2f;
    color: white;
    min-height: 100vh;
}


.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}


.info {
    margin-bottom: 15px;
}

.info h2 {
    color: #00ffcc;
    margin-bottom: 5px;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 420px;
    width: 100%;
    gap: 12px;
    margin: 15px 0;
}

/* CARD */
.card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #444;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.front {
    background: #ff9800;
}

.back {
    background: #fff;
    transform: rotateY(180deg);
}

.card img {
    width: 60%;
}


button {
    padding: 10px 20px;
    background: #00adb5;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}


.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}


@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    .info p {
        font-size: 14px;
    }
}
